<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--zh-CN-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>注册</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">


    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js" th:src="@{/js/html5shiv.js}"></script>
    <script src="../static/js/html5shiv.js" th:src="@{/js/respond.min.js}"></script>
    <![endif]-->

</head>
<body th:style="'background-image: url(/images/background.jpg)'"
      style="background-image: url('../static/images/background.jpg');">

<!--style="background-color: #08AEEA;
background-image: linear-gradient(240deg, #08AEEA 0%, #2AF598 100%);"-->


<!--<div class="row">
    <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
</div>-->
<form class="inner_box" th:action="@{/user/register}" method="post">
    <div class="left_label"></div>
    <div class="form">
        <a href="login.html" th:href="@{/login}" style="position: absolute; left: 50px;height: 50px;
    line-height: 50px;font-size: 15px ;color: rgba(0, 0, 0, 0.8);">登录</a>
        <p class="title" style="margin-bottom: 25px;"><span>注&nbsp册</span></p>
        <p style="color: rgba(255,0,0,0.9) ;height: 5px;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
        <p><input type="text" name="username" placeholder="昵称" required="" autofocus=""></p>
        <p><input type="password" name="password" placeholder="密码" required=""></p>
        <p><input type="email" name="email" placeholder="邮箱" required=""></p>
    </div>
    <div class="right_label"></div>
    <div class="signIn_btn" style="height: 60px">
        <input type="submit"  value="注册" style="background-color: rgba(15,229,128,0.5);margin-bottom: 12px">
    </div>
</form>

<!--jQuery-->
<script src="../static/js/jquery/jquery.min.js" th:src="@{/js/jquery/jquery.min.js}"></script>
<!-- Bootstrap  JavaScript 插件。-->
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>